@model List<Epicode_U5_W2_D1.Models.ClienteModel>


@{
    ViewBag.Title = "Index";
}

<h1>Clienti </h1>

@foreach (Epicode_U5_W2_D1.Models.ClienteModel cliente in Model)
{
    <h4> @cliente.Nome </h4>
    <div class="row row-cols-1 row-cols-md-2">
        <p>
            <span class="fw-bold"> Username: </span>
            @cliente.Username
        </p>
        <p>
            <span class="fw-bold"> Password: </span>
            @cliente.Password
        </p>

        <p>
            @if (cliente.Privato)
            {
                <span class="fw-bold">
                    Codice Fiscale:
                </span>
            }
            else
            {
                <span class="fw-bold">
                    Partita IVA:
                </span>
            }
            @cliente.CF_PIVA
        </p>
    </div>
    <hr />
}
