@{
    ViewBag.Title = "Home Page";
}



    <div class="row row-cols-1">
        <div>
            <h1  class="mb-3"> Vuoi tracciare il tuo pacco? </h1>
            <div class="row row-cols-1 row-cols-md-2 justify-content-center align-items-center mt-5" >
                <div>
                    <img src="~/Content/Assets/Imgs/Consegna.jpg" class="w-100 rounded shadow"/>
                </div>

                <div>
                    <p>Inserendo il Codice Fiscale ed il numero identificativo della tua spedizione potrai vedere lo stato di consegna del tuo pacco! </p>
                        @Html.ActionLink("Clicca qui", "GetSpedizione", "Home", null, new { @class = "btn btn-primary" })                    
                </div>

            </div>
        </div>

        <hr class="my-5"/>

        <div class="">
            <h1 class="mb-3"> Sei un nostro cliente?</h1>
            <div class="row row-cols-1 row-cols-md-2 justify-content-center align-items-center">
                <div>
                    <p>Inserendo il Codice Fiscale ed il numero identificativo della tua spedizione potrai vedere lo stato di consegna del tuo pacco! </p>
                    @Html.ActionLink("Accedi!", "Login", "Home", null, new { @class = "btn btn-primary" })
                </div>

                <div>
                    <img src="~/Content/Assets/Imgs/Spedizione.jpg" class="w-100 rounded shadow" />
                </div>
            </div>


        </div>
    </div>