@model List<Epicode_U5_W2_D1.Models.AggiornamentoModel>
@{
    ViewBag.Title = "Aggiornamenti";
}



@foreach (Epicode_U5_W2_D1.Models.AggiornamentoModel aggiornamento in Model)
{
    <div class="shadow rounded p-3">
        <div class="row row-cols-1 row-cols-md-2">
            <div>
                <p>
                    <span class="fw-bold"> Stato: </span>
                    @aggiornamento.Stato
                </p>
            </div>
            <div>
                <p>
                    <span class="fw-bold"> DataAggiornamento: </span>
                    @aggiornamento.DataAggiornamento
                </p>
            </div>

            <div>
                <p>
                    <span class="fw-bold"> Citta corrente: </span>
                    @aggiornamento.CittaCorrente
                </p>
            </div>
        </div>

        <p class="fw-bold">Aggiornamento:</p>
        <p> @aggiornamento.Aggiornamento</p>
    </div>

    <hr />
}
